body{
    text-align: center;
}

ul{
    display: flex;
    /*justify-content: center;*/
    height: 3rem;
}

li{
    margin: auto;
}

li:nth-child(2){
    margin-left: 3%;
    margin-right: 3%;
}

li:first-child{
    margin-right: 0;
}

li:last-child{
    margin-left: 0;
}

section, article{
    margin-bottom: 2%;
    margin-top: 2%;
}